.main_img {
    width: 80%;
}

body {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: cadetblue;
}

a:hover {
    color: dimgray;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
    font-size: 2em;
    font-weight: 800;
    padding-bottom: 1em;
    padding-right: 2em;
}